:root {
    --level-0: #2e2b42;
    --level-1: #393550;
    --level-2: #3c3957;
    --level-3: #413d5d;
    --level-4: #4a4669;
    --text: #eeeeee;
    --prim-light: #cf87fc;
    --prim: #b75def;

}

body {
    margin: 0;
    background-color: var(--level-0);
    color: var(--text);
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
}

.input {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: var(--text);
    background-color: var(--level-0);
    border: 1px solid var(--level-4);
}

.button {
    cursor: pointer;
    border: none;
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: var(--prim);
    transition: all ease-in-out 200ms;
}

.button:hover {
    background-color: var(--prim-light);
}

/*
Login declaration
 */

.loginBox {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
}

.login img {
    width: 100%;
}

.login input {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.login button {
    margin-top: 0.5rem;
}

