:root {
    --level-0: #1a1a1a;
    --level-1: #2c2c2c;
    --level-2: #3d3d3d;
    --level-3: #545454;
    --white-text: #eeeeee;
    --text: #eeeeee;
    --text-dark: #aaaaaa;
    --ok: #0f6623;
    --critical: #710000;
    --warning: #582d5b;
    --maintenance: #3c5a9f;
    --prim: #cbcbcb;
    --prim-light: #e5e5e5;
}

body {
    margin: 0;
    background-color: var(--level-0);
    color: var(--text);
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
}

.input {
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--text);
    background-color: var(--level-0);
    border: 1px solid var(--level-3);
}

.button {
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    font-size: small;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--prim);
    transition: all ease-in-out 200ms;
}

.button:hover {
    background-color: var(--prim-light);
}

/*
Login declaration
 */

.loginBox {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
}

.login img {
    width: 100%;
}

.login input {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.login button {
    margin-top: 0.5rem;
}

