{{define "status"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/status.css" rel="stylesheet" type="text/css">
    <link href="/static/img/favicon.png" rel="shortcut icon">
    <title>Title</title>
</head>
<body>

</body>
</html>
{{end}}